@font-face {
    font-family: "Ledger";
    src: url("/chill-bar-menu/fonts/Ledger-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("/chill-bar-menu/fonts/Raleway-VariableFont.ttf");
}